<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>uploads</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://localhost:2001/tournament</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploads</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <description></description>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>fr.nacvolley.tournament.util.Uploader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>UploadTvServlet</display-name>
        <servlet-name>UploadTvServlet</servlet-name>
        <servlet-class>fr.nacvolley.tournament.util.UploaderTv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadTvServlet</servlet-name>
        <url-pattern>/uploadtv</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>720</session-timeout>
    </session-config>
</web-app>     

